<div id="project-form" title="Project" style="display:none"></div>
<ul class="small-block-grid-3">
   <% for proj in @employee.projects %>
     <li>
      <ul class="pricing-table">
        <li class="title"><%= proj.name%></li>
        <li class="price"><%= proj.customer.name%></li>
        <li class="bullet-item"><%= @employee.project_viewable(proj) ? "Viewable" : "Hidden" %></li>        
        <li class="cta-button">
           <%= link_to "Update State", project_employee_path(@employee, :project => proj), remote: true, class: :button %>
        </li>
      </ul>
   </li>
  <% end %>
</ul>