<%= render :partial => 'shared/employee_hrd' %>
<% for p in @employee.viewable_projects %>
   
   <div class=<%=p.name%>>
      <h3 class="subheader"><%= link_to "#{p.customer.name}:#{p.name}", new_employee_assignment_path(@employee, :project_id => p.id), :remote => true %></h3>
      <div id='<%=p.hyphenise_name%>' class='time-form'>
      </div>         
   </div>
<% end %>

