<h2 class="subheader"><%= @employee.name %></h2>
<% for p in @employee.projects %>
		<div class=<%=p.name%>>
			<h3 class="subheader"><%= link_to p.name, new_employee_assignment_path(@employee, :project_id => p.id), :remote => true %></h3>
			<div id='<%=p.name%>' class='time-form'>
			</div>			
		</div>
<% end %>
