<li class="has-dropdown">
   <a href="#">Admin</a>
   <ul class="dropdown">
     <li class="active"><%= link_to 'Assignments', assignments_path %></li>
     <li ><%= link_to 'Customers', customers_path%></li>     
     <li ><%= link_to 'Employees', employees_path%></li>     
   </ul>
</li>