<%= link_to "New Customer", new_customer_path, :class => "small button"%>
<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
	<% for c in @customers %>
    	<tr>
      	<td><%= c.name%></td>
			<td>
				<%= link_to 'Show', customer_path(c), :class => "small button"%>
				<%= link_to 'New Project', new_customer_project_path(c), :class => "small button success"%>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>